footer{
  bottom:0;
  width:100%;
  height:58px;
  background:#6cf;
  font-family: 'Dancing Script', cursive;
  margin-top: auto;
  position: absolute;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto&display=swap');
