<div class="about d-flex justify-content-around align-items-center">
  <div class="container  pt-5 ">
    <div class="row align-middle">
      <div class="col-lg-7 col-md-12 col-sm-12 pt-5 pb-5 ps-5">
<h1 class="pb-3">Who Am I</h1>
<p class="text-black lh-lg">
  Hi! My name is FatmaAlzhra' Mohamed. I am a Frontend Developer. I’m very passionate and dedicated to my work ,passionate about learning and development with ability to adapt to various programming languages. I enjoy every step of the design process, from discussion and collaboration to concept and execution, but I find the most satisfaction in seeing the finished product do everything for you that it was created to do.
</p>
<div class="text-center">
  <a class="down btn  rounded-pill" href="https://drive.google.com/file/d/1UenKKrQskoBtsWTNxuU6NFP2eZbYiqrM/view?usp=sharing"> <fa-icon [icon]="faCloudArrowDown"></fa-icon> Download CV</a>
</div>
      </div>
      <div class="col-lg-5  col-md-12 col-sm-12 text-center">
        <img src="../../assets/dummy.jpg" alt="" class="img-fluid rounded-circle pt-5 pb-3" >
      </div>
    </div>
  </div>
</div>
