
<div class="shape d-flex justify-content-center align-items-center" id="particles-js">
  <div class="shape_info text-center ">
<div class="typed-out">
  <h1 class="wow bounceInUp mb-3" style="visibility: visible; animation-name: bounceInUp;">FatmaAlzhra' Elgohary</h1>
</div>

  <p class="wow bounceInLeft " style="visibility: visible; animation-name: bounceInLeft;">Front end Developer</p>

  <p class="wow bounceInRight" style="visibility: visible; animation-name: bounceInRight;">I'm at your service</p>

</div>
</div>
  <!-- <canvas class="particles-js-canvas-el" width="199" height="1200" style="width: 100%; height: 100%;"></canvas></div> -->
